/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0;
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }

  section.module p {
    font-size: 20px;
  }
}

/* ============================================================
  Custom style
============================================================ */

.navbar-default {
  background-color: #E5B243;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #DAA520;
}

.navbar-default .navbar-toggle {
  border-color: #DAA520;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #DAA520;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #1B70B7;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #1B70B7;
}

.nav > li > a {
  padding: 20px 10px;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 380px;
}

.carousel-indicators li {
  border: 1px solid #1B70B7;
}

.carousel-indicators .active {
  background-color: #E5B243;
}

.btn-success {
  background-color: #1B70B7;
  border-color: #1B70B7;
}

.btn-success:hover {
  background-color: #2b4fc7;
  border-color: #263E8F;
}

.btn-success:focus, .btn-success.focus {
  background-color: #3031C9;
  border-color: #0A0A48;
}

.scroll-top .btn {
  line-height: 22px;
  padding-left: 28%;
}

input {
  padding: 0 !important;
}

.portfolio-modal .modal-content {
  padding: 50px 0px;
}

.fa-futbol-o {
  color: white;
}

.img-brand {
  margin-top: -20px;
}

@media (min-width: 300px) and (max-width: 384px) {
  .logo-brand {
    margin-left: 50px;
    margin-top: -50px;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .img-brand {
    width: 35px;
    height: 54px;
    margin-top: -16px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .title {
    margin-top: 40px;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .title {
    margin-top: 30px;
  }
}

.gmap {
  text-align: left;
  color: #000;
}

#gmap_canvas img {
  max-width: none !important;
  background: none !important;
}

.divNombre {
  padding: 10px 10px 0px;
  font-size: 12px;
}

.salida {
  color: #fff;
}

.vinculo:hover {
  color: #2C3E50;
  text-decoration: none;
}